/Objective3/FirstProgramJava/HelloWorld/dist/
/Objective3/FirstProgramJava/HelloWorld/build/
/Objective4/FirstStaticWebsite/nbproject/private/
/Objective5/bootstrap-3.3.7/bootstrap-3.3.7/nbproject/private/
/Objective5/bootstrap-3.3.7b/nbproject/private/